<form method="post" action="{{ path('actualite_delete', {'idActualite': actualite.idActualite}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ actualite.idActualite) }}">
    <button class="btn">Delete</button>
</form>
