<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $( document ).ready(function() {

        /*begin rechercher avancee multicritéres selon nom et lieux*/
        $("#divs").keyup(function(e){
            /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
            var value = $("#search").val();
            if(value.length >= 1 || value.length == 0  )
            {
                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_user') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append('<tr><td> '+obj.idSponsor+'  </td><td>    '+obj.nomSponsor+'  </td> <td>'+obj.imageSponsor+' </td>  <td>'+obj.dateFinContrat+' </td>   <td> <a href="/sponsor/'+obj.idSponsor+'/edit">🖊️</a> </td>   </tr>');
                            });
                        }
                        else
                        {

                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');

                        }
                    },
                });
                return false;
            }
        });
    /*end rechercher avancee multicritéres selon sujet et staus*/
