{% extends 'back.html.twig' %}

{% block title %}Edit Produit{% endblock %}

{% block body %}
    {%  block contents %}
    <div class="container">
    <h1>Edit Produit</h1>


        {{form_start(form)}}

        {{form_widget(form)}}

        <button class="btn btn-success" type="button"> Modifier </button>
        {{form_end(form)}}



    </div>

    {% endblock %}
{% endblock %}





