{% extends 'base.html.twig' %}

{% block title %}Hello ModifyUserController!{% endblock %}

{% block body %}
    <style>
       i{
           color: #FFB320 !important;
       }
    </style>

{% block content %}
<div style="background-color: #252525 ">
    <div class="container py-5 " >
        <div class="row  text-center">
            <div class="col-4">
               <a href="/user/compte/modifier">
                   <div class="card w-80">
                       <div class="card-body">
                           <h5 class="card-title "><i class="fa fa-id-card-o" style="font-size: 40px;color: #FFB320" aria-hidden="true"></i>
                           </h5>
                           <p  style="font-size:20px;">Vos données personnelles</p>

                       </div>
                   </div>
               </a>
            </div>
            <div class="col-4">
                <a href="/user/compte/modifier/mdp">
                    <div class="card w-80">
                        <div class="card-body">
                            <h5 class="card-title"><i class="fa fa-lock" style="font-size: 40px;color: #FFB320" aria-hidden="true"></i>

                            </h5>
                            <p style="font-size:20px;" class="card-text pb-3">Changer votre Mot de passe</p>

                        </div>
                    </div>
                </a>
            </div>
            <div class="col-4">
               <a href="/logout">
                   <div class="card w-80">
                       <div class="card-body">
                           <h5 class="card-title"><i class="fa fa-sign-out"  style="font-size: 40px;color: #FFB320" aria-hidden="true"></i>
                           </h5>
                           <p style="font-size:20px;" class="card-text pb-3">Déconnexion</p>

                       </div>
                   </div>
               </a>
            </div>
        </div>
     <div class="row mt-5 justify-content-center">
         <div class="btn btn-danger">
             <a class="text-white" href="/user/compte/delete">Supprimer Votre Compte</a>
         </div>
     </div>
    </div>
</div>
    {% endblock %}
{% endblock %}
